body{
    background: rgb(167, 188, 255);
    text-align: center;
}

.caja{
    border: 1px solid #000000;
    color: rgb(0, 64, 121);
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
   
    line-height: 120px;
    text-align: center;
   
    
    
}

.grid_layout{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(19, 49, 146);
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border: 1px solid black;

}

.grid_layout2{
    display: grid;
    grid-template-columns: 50% auto auto;
    grid-template-rows: 200px auto auto;
    justify-content:space-around;
    background-color: aqua;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border: 1px solid black;
}

.caja2{
    background-color: rgb(179, 198, 214);
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    
}

.grid_layout3{
   
    display: grid;
    grid-template-columns:70% 30%;
   
   
    background-color: rgb(0, 38, 255);
    margin: 0 auto;
    width: 95%;
    padding: 20px;
    border: 1px solid black;
}

.caja1{
    
    grid-column: 1/3;/*Esto dara el cambio del tamaño de las cajas OJO SE GUIA POR LOS BORDES
    LOS NUMEROS REPRESENTAN LOS BORDES DE CADA "CAJA" POR LO QUE 1 ES EL PRIMER BORDE Y ASI
    SUCESIVAMENTE
    */
    background-color: rgb(28, 142, 241);
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
   line-height: 100px;
    text-align: center;
}
.caja3{ background-color: rgb(255, 4, 150);
    grid-column: 1/3;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 50px;
    text-align: center;}
    .caja4{
        grid-column: 2/3;
        grid-row: 3/9;
        background-color: rgb(109, 184, 23);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
    .caja5{
        grid-column: 1/2;
        background-color: rgb(23, 184, 149);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
    .caja6{
        grid-column: 1/2;
        background-color: rgb(116, 129, 100);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
    .caja7{
        grid-column: 1/2;
        background-color: rgb(58, 23, 184);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
    .caja8{
        grid-column: 1/2;
        background-color: rgb(184, 128, 23);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
    .caja9{
        grid-column: 1/2;
        background-color: rgb(184, 23, 50);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
    .caja10{
        grid-column: 1/2;
        background-color: rgb(93, 23, 184);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
    .caja11{

        grid-column: 1/3;
        background-color: rgb(128, 240, 128);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 50px;
        text-align: center;
    }

    .grid_layout4{

        display: grid;
        grid-template-areas:'cabecera cabecera'
                                'menu   menu'
                                'contenido Blateral'
                                'contenido2 Blateral'
                                'footer footer'
                                ;
        background-color: bisque;
        margin: 0 auto;
        width: 80%;
        padding: 20px;
        

    }
    .c1{
        grid-area: cabecera;
        background-color: rgb(45, 161, 45);
        border: 1px solid rgb(0, 0, 0);
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
    .c2{
       grid-area: menu;
        background-color: rgb(128, 240, 128);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 50px;
        text-align: center;
    }
    .c3{
       grid-area: contenido;
        background-color: rgb(128, 240, 128);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
    .c4{
        grid-area: Blateral;
        background-color: rgb(128, 240, 128);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
    .c5{
       grid-area: contenido2;
        background-color: rgb(128, 240, 128);
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
    .c6{
        grid-area: footer;
        background-color: rgb(128, 240, 128);
        
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
       
        
    }
