.App {

  color: aquamarine;
}
#Principal{
  color: red;
}
#grid_layout{
  display: grid;
  grid-template-areas:'cabecera cabecera cabecera cabecera' 
                        'nav  nav nav nav'
                        'content content content b_lateral'
                        'footer footer footer footer'
  
  
  ;
  background: #0d5523;
  width: 100%;
 
}


#design_head{
  padding: 50px;
  margin: 30px;
  grid-area: cabecera;
  background: green;
  text-align: center;
  width: 100%;
  height: 200px;
  line-height: 200px;
  border: 3px solid #54ff05;
  font-family: Verdana, Geneva, Tahoma, sans-serif;


}



#design_nav{
  grid-area: nav;
background: #026821;
float: left;
border: 3px solid #54ff05;


}




#design_aside{
  
grid-area: b_lateral;

padding: 30px;
border: 3px solid #54ff05;
  
}
#design_content{
  grid-area: content;
  background: #009614;
  border: 3px solid #54ff05;
}

#design_footer{
  text-align: center;
  grid-area: footer;
  color: black;
  background: #275203;
  border: 3px solid #54ff05;
}

.Aside div h3 p{

  background: #61dafb;
  color: black;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
    
  }
}

.App-header {
  background-color: #54ff05;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


